.not-visible{
    display: none;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #D9F4C7; */
    background-color: #98B6B1;
}
.app{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.ref{
    align-items: center;
    justify-content: center;
    width: 100vw;

}

.heading{
    font-size: 36px;
    text-align: center;
    /* background-color: #629677; */
    background-color: #D9F4C7;;
    /* background-color: #98B6B1; */
    margin: 0;
    padding: 1.5rem 0;
    /* width: 100vw; */
}

.btn{
    font-size: larger;
    text-align: center;
    padding: .75rem 2.5rem;
    border-radius: .8rem;
    color: #F0F757;
    background-color: #34344A;
    transition: background-color .2s, color .2s;
    width: max-content;
}

.btn:hover{
    cursor: pointer;
    background-color: #F0F757;
    color: black;
    border: #CC5A71 2px solid;
}

.form{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    position: static;
    justify-content: space-around;
    align-items: center;
    padding: 0 4rem;
}

.form input{
    height: 1.7rem;
    border-radius: .4rem;
    font-size: 1rem;
    margin-bottom: 1.2rem;
    border: black solid 1px;
    outline: none;
}

.form label{
    margin-bottom: 1rem;
}

select{
    height: 1.7rem;
    width: max-content;
    border-radius: .4rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.form>div:not(.form-btn){
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .1rem;
    align-items: center;
}
.main{
    display: grid;
    grid-template-columns: .2fr 1fr;
    gap: 4rem;
    /* width: 90vmax; */
    padding: 0;
    margin: 0;
}

.button{
    padding: .5rem .2rem;
    width: 10vw;
    border-radius: .4rem;
    /* background-color: lightseagreen; */
    background-color: #495D63;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
} 

.button:hover{
    cursor: pointer;
    scale: 1.2;
    transition: scale .75s;
}
.left{
    padding: 0;
    margin: 0;
    /* background-color: #CC5A71; */
    /* background-color: #495D63; */
    background-color: #98B6B1;
    /* background-color: #D7BCC8; */
    border-radius: 0 1rem 1rem 0;
    text-align: center;
}
.card{
    border: solid black ;
    height: max-content;
}

.card h3{
    color: red;

}
.right{
    display: grid;
    /* flex-wrap: wrap; */
    gap: 1rem;
    min-height: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(100px,20rem));
    padding: 0 2rem;
}
.add-bg{
    background-color: #629677;
}